
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    .header-logo {
      position: relative;
      z-index: 2;
    }

    .navbar {
      background: $navBackgroundColor;
      z-index: 1;
      width: 100%;

      .navbar-header {
        position: fixed;
        top: 40px;
        display: block !important;
        width: 100%;

        .navbar-toggle {
          display: block !important;
          float: right;
          margin-right: 15px;
        }
      }
      .navbar-collapse.collapse {
        display: none !important;

        &.in {
          display: block !important;
        }

        .nav {
          background: #fff;
          margin-bottom: 15px;
        }
      }
    }
  }
}