/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v12-latin/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
  url('fonts/raleway-v12-latin/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/raleway-v12-latin/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/raleway-v12-latin/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/raleway-v12-latin/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/raleway-v12-latin/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* sriracha-regular - latin */
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Sriracha'), local('Sriracha-Regular'),
  url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/sriracha-v2-latin/sriracha-v2-latin-regular.svg#Sriracha') format('svg'); /* Legacy iOS */
}