figure.home-teaser.v1 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 0;
  min-width: 220px;
  max-width: 100%;
  max-height: 310px;
  width: 100%;
  background: $navBackgroundColorActive;
  color: $navTextColorActive;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  img {
    max-width: 100%;
    position: relative;
    opacity: 0.9;
    //  max-height: 240px;
    height: 240px;
  }

  figcaption {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 0 1px 1px;
  }

  .heading {
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  h2 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;

    span {
      font-weight: 800;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 1000%;
      height: 1px;
      content: '';
      background: white;
      top: 50%;
    }

    &:before {
      left: -1000%;
    }

    &:after {
      right: -1000%;
    }
  }

  p {
    top: 50%;
    font-size: 0.9em;
    font-weight: 500;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
  }

  a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  &:hover,
  &.hover {
    img {
      opacity: 0.25;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    figcaption {
      top: 7%;
      bottom: 7%;
    }

    p {
      opacity: 1;
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
  }
}
