figure.home-teaser.v3 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px auto;
//  min-width: 220px;
//  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: $navBackgroundColorActive;
  color: $navTextColorActive;
  background-image: -webkit-linear-gradient(top, $navBackgroundColorActive 0%, #000000 70%);
  background-image: linear-gradient(to bottom, $navBackgroundColorActive 0%, #000000 70%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  img {
    max-width: 100%;
  }

  figcaption {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    h2,
    p {
      margin: 0;
      width: 100%;
      padding: 10px 20px;
    }


    h2 {
      color: $navTextColorActive;
      position: absolute;
      bottom: 100%;
      display: inline-block;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      background: rgba($navBackgroundColorActive, 0.9);
      text-align: right;
      bottom: 0;
      font-size: 0.8em;
      font-weight: 500;
    }
  }

  a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  &:hover,
  &.hover {
    img {
      opacity: 0.4;
    }

    figcaption {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}