figure.home-teaser.v2 {
  font-family: 'Sriracha', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 15px auto 0;
  min-width: inherit;
  max-height: 220px;
  width: 100%;
  background: $navBackgroundColorActive;
  color: $navTextColorActive;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  > img {
    opacity: 1;
    width: 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;

    h2 {
      display: inline-block;
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 15px 10px;
      position: absolute;
      font-size: 1em;
      top: 50%;
      right: 30px;
      left: 30px;
      font-weight: 300;
      text-transform: uppercase;
      box-shadow: 0 0 20px rgba($primaryColor, 0.85);
      background-color: $primaryColor;
      -webkit-transition: top 0.5s;
      transition: top 0.5s;

      span {
        font-weight: 800;
      }
    }

    .image {
      position: absolute;
      top: 13%;
      bottom: 35%;
      width: 100%;
      overflow: hidden;
      text-align: center;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translate(0px, 0%);
      transform: translate(0px, 0%);

      img {
        display: inline-block;
        position: absolute;
        max-height: 100%;
        max-width: 70%;
        width: auto;
        left: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out,-moz-transform 0.5s ease-in-out,-o-transform 0.5s ease-in-out,transform 0.5s ease-in-out;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
      }
    }
  }

  a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  &:hover,
  &.hover {
    > img {
      opacity: 0.5;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    figcaption {
      h2 {
        top: 65%;
      }

      .image {
        img {
          -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
        }
      }

      &::before {
        opacity: 0.8;
      }
    }
  }
}