@import "../fonts/font-awesome-4.7.0/css/font-awesome.min.css";

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v9-latin/pt-sans-v9-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}