/**
 * CSS Styles: Responsive
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* RESPONSIVE *********************************/

@media (min-width: 1200px) {
  .header {
    .header-logo {
      .header-logo-image {
        margin: 0;
      }
    }

    .navbar {
      .nav {
        > .menu-item {
          > a {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    .navbar {
      .nav {
        > .menu-item {
          > a {
            padding: 4px 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 991px) {
  .header {
    .navbar {
      .nav {
        > .menu-item {
          > a {
            padding: 4px 10px;
          }
        }
      }
    }
  }
  .wp-caption {
    width: auto !important;

    &.alignleft {
      float: none;
    }

    &.home-caption {
      &.alignleft {
        margin-right: auto;
      }
    }
  }
  .wrapper {
    .btn {
      &.cta {
        padding-right: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-img-wrapper {
    height: 300px;
  }
}

@media (max-width: 767px) {

  body {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }

  [style*="justify"] {
    text-align: inherit !important;
  }

  .row-eq-height {
    display: block;
  }

  .header {
    position: static;

    .header-logo {
      padding-bottom: 5px;
      padding-top: 5px;
      white-space: normal;

      img {
//        max-width: 70px !important;
        max-height: 5em !important;
        margin: 0 auto;
      }

      span {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    .navbar {
      border-color: $navBackgroundColor;
      border-width: 0 0 2px;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      top: 0;
      height: auto;
      position: static;
      background: rgba(0, 0, 0, 0);
      min-height: inherit;

      #navbar {
        background: $navBackgroundColor none repeat scroll 0 0;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #e7e7e7;
      }

      .nav {
        margin: 0;

        > .menu-item {
          > a {
            background-color: $navBackgroundColor;
            color: $navTextColor;
            padding: 10px 15px;

            &:active,
            &:focus {
              font-style: normal;
              font-weight: 400;
            }
          }

          &:not(:last-child) {
            > a {
              border-bottom: 1px solid #e7e7e7;
            }
          }
        }

        > .current-menu-item > a,
        > .current-menu-parent > a,
        > .current-page-ancestor > a,
        > .menu-item:hover > a {
          background-color: $navBackgroundColorActive;
          color: $navTextColorActive;
          font-style: normal;
          font-weight: 400;
        }

        > .open {
          > a,
          a:active {
            background-color: $navBackgroundColorActive;
            color: $navTextColorActive;
            font-style: normal;
            font-weight: 400;
          }
        }
      }

      .dropdown-menu > .menu-item > a:hover,
      .dropdown-menu > .menu-item > a:focus,
      .dropdown-menu > .menu-item > a:active,
      .dropdown-menu > .current-menu-item > a
      .open .dropdown-menu > .menu-item > a:hover,
      .open .dropdown-menu > .menu-item > a:focus,
      .open .dropdown-menu > .menu-item > a:active,
      .open .dropdown-menu > .current-menu-item > a {
        color: $navBackgroundColorActive !important;
        background: $navTextColorActive;
        font-style: normal;
        font-weight: 400;
      }
      .open .dropdown-menu > .menu-item > a {
        color: $navTextColorActive;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .home-slider-wrapper {
    min-height: inherit;

    .si-caption-wrapper {
      position: static;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;

      .si-caption {
        float: none;
        padding: 15px 0 !important;
        width: auto !important;
        position: static !important;

        .sic-inner {
          padding: 15px;
          margin: 0 auto;
          left: 0;
          right: 0;

          .sic-title {
            text-align: center;
            margin-bottom: 5px !important;
            font-size: 1.5em !important;
          }

          .sic-text {
            color: #2c2c2c;
            font-size: 0.821em;
            text-align: center;
            margin-bottom: 5px;
          }

          .sic-link {
            text-align: center;

            .btn {
              background-color: $primaryColor;
              border-color: $primaryColor;
              color: $secondaryColor;

              padding: 2.5px 5px;
              font-size: 0.8em;

              &:hover {
                background-color: lighten($primaryColor, 10%);
              }
            }
          }
        }
      }
    }

    .slick-slider {
      .slick-dots {
        display: none !important;
      }
    }
  }

  .accordian-wrapper {
    .accordian {
      height: auto;

      ul {
        li {
          float: none;
          height: 70px;
          width: 50%;

          &:hover {
            width: 90% !important;
          }
        }

        &:hover {
          li {
            width: 70%;
          }
        }
      }
    }
  }


  .top-img-wrapper {
    height: 150px;
  }

  .wrapper {

    h2 {
      margin-bottom: 15px;
    }

    .btn {
      &.cta {
        padding-right: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    #content {
      >.row {
        margin-left: auto;
        margin-right: auto;
      }

      .content-inner {
        table {
          th,
          td {
            display: table-cell;
          }
        }
      }

      .page-header {
        font-size: 1.571em;
        margin-bottom: 10px;
      }

      .sidebar {
        .sidebar-item {
          .form-inline {
            .form-group {
              margin-bottom: 0;
            }
          }
        }

        .sidebar-nav {
          > div {
            width: 100%;
          }

          .sb-item {
            &.additional_content {
              img {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }
    }
  }

  .home {
    #content {
      padding-top: 10px;
    }

    .sidebar {
      .sidebar-nav {
        .sb-item {
          &.widget_nav_menu {
            .sbi-inner {
              padding: 15px 15%;
            }
          }
        }
      }
    }
  }

  .cp-ti {
    .page-header-wrapper {
      top: 15px;
    }
  }

  .blog-post {
    .panel {
      .panel-heading {
        .panel-title {
          small {
            display: block;
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    font-size: 1em;
    height: auto;
    position: static;

    ul {
      margin-left: 0;
      padding-left: 0;
      text-align: center;
    }

    .footer-inner {
      height: auto;

      .fi-right {
        .fr-item {
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  body {
    &.stickyHeader {
      .header {
        position: fixed;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
      }
    }
  }

  .page {
    &:not(.home) {
      .header {
        .container {
          &::before {
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            left: 15px;
            position: absolute;
            right: 15px;
            z-index: 2;
          }
        }
      }
    }
  }

  .navbar-brand {
    display: none;
  }

  .header {
    .navbar {
      .nav {
        float: right;
        margin-bottom: 15px;

        > .menu-item {
          > a {
//            padding: 7px 15px;
            color: $navTextColor;
            background-color: $navBackgroundColor;
            position: relative;

            background-image: -webkit-linear-gradient(to bottom, transparent 0%, transparent 12%, $navBackgroundColorActive 32%, $navBackgroundColorActive 72%, transparent 92%, transparent 100%);
            background-image: -moz-linear-gradient(to bottom, transparent 0%, transparent 12%, $navBackgroundColorActive 32%, $navBackgroundColorActive 72%, transparent 92%, transparent 100%);
            background-image: linear-gradient(to bottom, transparent 0%, transparent 12%, $navBackgroundColorActive 32%, $navBackgroundColorActive 72%, transparent 92%, transparent 100%);
            background-position: 100% 0;
            background-repeat: no-repeat;
            background-size: 1.5px 100%;

            font-family: 'PT Sans', sans-serif;
            font-size: 1.1em;
            border-bottom: 1px solid transparent;
            transition: all 200ms ease-in-out;

            > .caret {
              display: none;
              position: absolute;
              right: 43%;
              bottom: 5px;
            }
          }
          &:last-child {
            margin-right: 0;

            span {
              padding: 0;
            }

            .dropdown-menu {
              left: auto;
              right: 0;
            }
          }

          .dropdown-menu {
            border-top: 0 none;
          }
        }

        > .current-menu-item,
        > .current-menu-parent,
        > .current-page-ancestor,
        > .menu-item:hover,
        > .menu-item.open,
        > .menu-item.open:hover {
          > a {
            color: $navTextColorActive;
            background-color: $navBackgroundColorActive;
            font-weight: 400;
            font-style: inherit;

            > .caret {
              display: inline-block;
            }
          }
        }

        > .current-menu-item > a,
        > .current-menu-parent > a,
        > .current-page-ancestor > a,
        > .menu-item:hover > a,
        > .menu-item.open > a,
        > .menu-item.open:hover > a {
          color: $navTextColorActive;
          font-weight: 400;
          font-style: inherit;

          > .caret {
            display: inline-block;
          }
        }

        > li {
          &:first-child {
            .dropdown-menu {
              left: 0;
            }
          }
        }
      }
    }

    .dropdown-menu {
      > .menu-item {
        border-top: 1px solid #d7d7d7;

        &:first-of-type {
          border-top: 0 none;
        }

        &:last-of-type {
          > a {
            border-bottom: none;
          }
        }

        > a {
          padding: 5px 50px 5px 20px;
          border-bottom: 0 none;
          min-width: 250px;
          text-transform: inherit;
          color: #333;
          background: #fff;
          white-space: inherit;
        }

        > a:hover,
        > a:focus,
        > a:active,
        &.current-menu-item > a {
          background: $navBackgroundColorActive;
          color: $navTextColorActive;
          font-style: normal;
          font-weight: 400;
        }

        span {
          border-right: none;
        }
      }
    }

  }

  /********************************* FOOTER *********************************/
  .footer {
    .container {
      position: relative;
    }

    .fcol-left {
      white-space: nowrap;
    }
    .footer-nav,
    .footer-nav ul {
      margin-bottom: 0;
    }
  }
}

/** Pull Left **/
@media only screen and (min-width: 768px) {
  .pull-left-sm {
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .pull-left-md {
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .pull-left-lg {
    float: left;
  }
}

/** Pull Right **/
@media only screen and (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
}

@media only screen and (min-width: 1200px) {
  .pull-right-lg {
    float: right;
  }
}

