.info-block-wrapper {
  padding-top: 15px;

  .info-blocks {
    .head-block{
      background-color: $mainContentBackgroundColor;
      color: $mainContentTextColor;
      border-color: $primaryColor;

      -webkit-border-radius: 0;
      border-radius: 0;

      .panel-heading {
        background-color: $primaryColor;
        color: $mainContentBackgroundColor;
        border-color: $primaryColor;

        .panel-title {
          font-size: 1.7em;

          small {
            color: $mainContentBackgroundColor;
          }
        }
      }

      .panel-body {
        font-size: 1.8em;

        .headblock-ergebnis {
          color: $primaryColor;
        }
      }

      .panel-footer {
        background-color: $primaryColor;
        color: $mainContentBackgroundColor;
        border-color: $primaryColor;

        font-size: 1.3em;
      }
    }
  }
}