/**
 * CSS Styles: Main
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */


html {
  visibility: inherit;
  background: $bodyBackgroundColor;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: $bodyBackgroundColor;
  margin-bottom: 65px !important;
}

/********************************* ADMINBAR *********************************/

body.admin-bar {
  position: initial !important;
}
#wpadminbar {
  position: fixed;
}

/********************************* MAIN *********************************/

.center-vertical {
  position: absolute;
  top: 50%;

  -moz-transform: translateX(0px) translateY(-50%);
  -webkit-transform: translateX(0px) translateY(-50%);
  -o-transform: translateX(0px) translateY(-50%);
  -ms-transform: translateX(0px) translateY(-50%);
  transform: translateX(0px) translateY(-50%);
}

.row-eq-height {
  display: flex;
}

.wrapper {
  a {
    &:not(.btn) {
      color: lighten( $primaryColor, 10% );

      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      &:focus {
        outline: none!important;
      }

      &:hover,
      &:active,
      &:focus {
        color: $primaryColor;
      }
    }

  }

  img {
    max-width: 100%;
    height: auto;
    position: relative;
  }

  .ti-content,
  .content-wrapper {
    ul {
      &:not(.list-unstyled) {
        list-style: none;
        padding: 0;
        margin: 0;

        &:not(.pager) {
          li {
            padding-left: 1em;
            text-indent: -1em;

            &:before,
            &:before {
              font-family: 'Glyphicons Halflings';
              content: "\e074 ";
              font-size: 0.7em;
              margin-right: 0.5em;
              color: $primaryColor;
            }
          }
        }
      }
    }
  }
}

.wp-caption {
  &.alignleft {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  .wp-caption-text {
    padding: 8px 5px 0;
    text-align: center;
    color: $mainContentTextColor;
    font-size: 0.857em;
  }
}

/********************************* BUTTONS *********************************/

.wrapper {
  .btn {
    padding: 6px 30px;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 1.214em;
    border: 1px solid $secondaryColor;
    border-radius: 0;
    background: $secondaryColor;
    color: $primaryColor;
    transition: background 200ms ease-in-out;

    &.btn-sm {
      padding: 5px 10px;
      font-size: 12px;
    }
    &.btn-xs {
      padding: 1px 5px;
      font-size: 12px;
    }
    &:hover {
      background: darken( $secondaryColor, 10% );
    }

    &.btn-primary {
      background: $primaryColor;
      border: 1px solid $primaryColor;
      color: $secondaryColor;

      &:hover {
        background: lighten( $primaryColor, 10% );
      }
    }

    &.cta {
      padding: 8px 90px 8px 30px;
      display: inline-block;
      background: $primaryColor;
      border: 1px solid $primaryColor;
      color: $secondaryColor;
      position: relative;
      max-width: 100%;
      margin-top: 20px;
      text-align: left;
      white-space: inherit;
      font-size: 16px;

      &:after {
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: normal;
        line-height: 1;

        position: absolute;
        right: 15px;
        top: 12px;

        content: "\e258"; /** .glyphicon-menu-right **/
      }
      &:hover {
        background: lighten( $primaryColor, 10% );
      }

      &.home {
        padding-right: 30px;
        text-align: center;

        &:after {
          display: none;
        }
      }
    }

    &.btn-default {
      color: #3a3f42;
      font-weight: 400;
      border-color: #b1b4b6;
    }
  }

  .pager {
    li {
      > a {
        border-radius: 0;
      }
    }
  }

  .input-group-btn {
    > .btn {
      padding: 6px 12px;
      font-family: inherit;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  /********************************* HEADLINES *********************************/

  h1,
  h2,
  h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    clear: both;

    small {
      color: $primaryColor;
    }
  }

  h1 {
    font-size: 3.429em;
    line-height: 1.2;

    &.page-header {
      position: relative;
      color: $primaryColor;

      small {
        display: block;
        margin-top: 0.5em;
      }
    }
  }


  h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1.353em;
    line-height: 1.5;
  }

  .content-inner {
    h3 {
      font-size: 1em;
    }
  }

  h3 {
    strong {
//      color: $primaryColor;
      font-weight: 700;
    }
  }

  /********************************* TABLES *********************************/


  .content-inner {

    .table {

      thead {
        tr {
          th {
            background-color: $primaryColor;
            color: $mainContentBackgroundColor;
          }
        }
      }

      > tbody {
        > tr:nth-of-type(odd),
        > tr:nth-of-type(even) {
          background-color: $mainContentBackgroundColor;
          color: $mainContentTextColor;
        }
      }

      &.table-striped {

        > tbody {
          > tr:nth-of-type(odd),
          > tr:nth-of-type(even) {
            background-color: $mainContentBackgroundColor;
            color: $mainContentTextColor;
          }
        }

        //tr {
        //  &:nth-child(odd) {
        //    color: $mainContentBackgroundColor;
        //
        //    td, th {
        //      background-color: $primaryColor;
        //    }
        //  }
        //
        //  &:nth-child(even) {
        //    color: $mainContentTextColor;
        //  }
        //
        //  td, th {
        //    border: 2px solid $mainContentBackgroundColor;
        //  }
        //}

      }
    }
  }

}