/**
 * SCSS Styles: 404
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

 /**************************** 404 ****************************/

.error404 {
    .lead {
      height: auto;
    }

    .lead-text,
    .lead-text-inner {
        width: 100%!important;
        max-width: 100%!important;
    }

    .pager {
        margin-top: 50px;
        margin-bottom: 120px;
    }

    .pager {
        li > a {
            color: #b1d8f8;
            background: none;
            border-color: #b1d8f8;
        }
    }
}