/**
 * CSS Styles: Partial - Home Slider
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* HOME-SLIDER *********************************/

.home-slider-wrapper {

  .container {
    padding: 15px;
    margin-bottom: 15px;
  }

  .home-slider {
    .slick-slider {
      margin-bottom: 0;

      .slider-item {
        background: no-repeat center center;
        background-size: cover;
        position: relative;
        overflow: hidden;

        .si-caption-wrapper {
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: absolute;

          .si-caption {
            padding: 15px;
            width: 45%;
            margin: 0;
            background-color: rgba( $mainContentBackgroundColor, 0 );
            top: 0;
            bottom: 0;
            position: absolute;

            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;

            &:before {
              content: '';
              background-color: rgba( $mainContentBackgroundColor, 0.75 );
              position: absolute;
              bottom: 0;
              top: 0;
              display: block;

              -webkit-transition: all 200ms ease-in-out;
              -moz-transition: all 200ms ease-in-out;
              -ms-transition: all 200ms ease-in-out;
              -o-transition: all 200ms ease-in-out;
              transition: all 200ms ease-in-out;
            }

            &.left {
              left: 0;
              padding-left: 5em;

              &:before {
                left: -50%;
                right: -10%;

                -moz-transform: skewX(-15deg);
                -webkit-transform: skewX(-15deg);
                -o-transform: skewX(-15deg);
                -ms-transform: skewX(-15deg);
                transform: skewX(-15deg);
              }
            }

            &.right {
              right: 0;
              padding-right: 5em;

              &:before {
                right: -50%;
                left: -10%;

                -moz-transform: skewX(15deg);
                -webkit-transform: skewX(15deg);
                -o-transform: skewX(15deg);
                -ms-transform: skewX(15deg);
                transform: skewX(15deg);
              }
            }

            &:hover {

              &:before {
                background-color: rgba( $mainContentBackgroundColor, 1 );
              }
            }

            .sic-title {
              color: $mainContentTextColor;
              margin: 0 0 10px 0;
              font-size: 2.25em;
            }

            .sic-text {
              color: $mainContentTextColor;
              margin: 0 0 10px 0;
              font-size: 1.2em;
            }

            .sic-link {
              text-align: center;
              display: inline-block;
              margin-top: 10px;

              .btn {
                background-color: $primaryColor;
                border-color: $primaryColor;
                color: $secondaryColor;

                &:hover {
                  background-color: lighten( $primaryColor, 10% );
                }
              }
            }
          }
        }
      }

      .slick-dots {
        bottom: 15px;

        li {
          height: 15px;
          width: 25px;
          margin: 0px 3px;

          button,
          button::before {
            height: 20px;
            width: 25px;
          }
          button {
            &::before {
              font-size: 12px;
              opacity: 0.75;
              color: $secondaryColor;
            }
          }

          &.slick-active {
            button {
              &::before {
                opacity: 1;
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
}