/**
 * CSS Styles: Footer
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* FOOTER *********************************/

.footer {
  padding: 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;

  .footer-inner {
    color: $footerTextColor;
    background-color: $footerBackgroundColor;
    margin-top: 15px;
    height: 50px;
    padding: 15px;

    .fl-item {
      float: left;
      display: inline-block;
    }

    .fi-right {
      text-align: right;

      .fr-item {
        #back-to-top {
          cursor: pointer;
        }
      }
    }
  }

  h4 {
    margin-top: 0;
    color: $footerTextColor;
  }

  a {
    color: $footerTextColor !important;
    font-size: 1em;
  }

  ul {
    margin-left: auto;
    padding-left: 0;
    display: inline-block;
    list-style: none;

    li {
      float: left;

      &:before {
        content: "/";
        margin: 0 5px;
      }

      a {
        text-decoration: none;
        color: $footerTextColor !important;
        font-size: 1em;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline !important;
          color: $footerTextColor;
          font-style: normal !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}