/**
 * CSS Styles: Sidebar
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* SIDEBAR *********************************/

.cp-maps {
  .sidebar {
    .sb-item {
      &.additional_content {
        strong,
        b {
          color: $sidebarTextColor;
          display: block;
          font-size: 1.2em;
          line-height: 1.1;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.wrapper {
  .content-wrapper {
    .sidebar {
      .sidebar-nav {
        > div {
          max-width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          float: left;
        }
      }
    }
  }

  .content-wrapper,
  .footer-top {
    .sb-box {
      background-color: $sidebarBackgroundColor;
      color: $sidebarTextColor;
      padding: 5px 25px;
      margin-bottom: 15px;

      > h3 {
        margin-top: 0;
        font-size: 1.143em;
        color: $sidebarTextColor;
        padding: 10px 0px;

        &:after {
          content: '';
          border-bottom: 2px solid $bodyBackgroundColor;
          display: block;
          margin: 10px -25px -10px;
        }
      }

      ul {
        &:not(.list-unstyled) {
          li {
            &:before {
              color: $sidebarTextColor;
            }
          }
        }
      }

      a {
        &:not(.btn) {
          color: darken($sidebarTextColor, 10%);
          text-decoration: underline;

          &:hover,
          &:active,
          &:focus {
            color: $sidebarTextColor;
            text-decoration: none;
          }
        }
      }

      select#cat.postform {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background: #fff none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }

      .form-inline {
        .form-group,
        .form-group .input-group {
          width: 100%;
        }

        .input-group {
          .input-group-btn {
            width: 1%;

            .btn {
              &.btn-primary {
                background: $sidebarTextColor;
                border: 1px solid $sidebarTextColor;
                color: $sidebarBackgroundColor;

                &:hover {
                  background: lighten($sidebarTextColor, 10%);
                }
              }
            }
          }
        }
      }
    }
  }
}
