/**
 * CSS Styles: Header
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* HEADER *********************************/

body {
  &.admin-bar {
    .header {
      top: 32px;
    }
  }
}

.header {
  border-radius: 0;
  padding-top: 15px;
  margin-bottom: 15px;
//  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: rgba($headerBackgroundColor,1);

  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;



  > .container {
    position: relative;
  }

  .header-logo {
    padding-bottom: 15px;
//    white-space: nowrap;

    a {
      span {
        color: $secondaryColor;
        font-size: 2em;

        small {
          display: block;
          font-size: 50%;
        }
      }

      &:hover,
      &:active,
      &:focus {
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
      }
    }

    .header-logo-image {
      /*bottom: -10px;*/
//      max-width: 40px;
//      max-height: 2.9em;
      max-height: 4em;
    }
  }

  /********************************* MAINMENU *********************************/

  .navbar {
//    position: absolute;
    background: transparent;
    top: 0;
    border: 0 none;
    right: 0;
    margin-bottom: 0;
    min-height: inherit;

    -webkit-border-radius: 0;
    border-radius: 0;

    .navbar-header {
      background-color: $navBackgroundColor;
      padding-left: 15px;
      padding-right: 15px;

      .navbar-toggle {
        float: left;
        border: 0 none;
        margin: 4px 0 4px -10px;
        transition: all 200ms ease-in-out;

        .icon-bar {
          height: 3px;
          background-color: $navBackgroundColorActive;
          width: 30px;
        }

        .icon-bar + .icon-bar {
          margin-top: 3px;
        }

        &:hover,
        &:focus {
          background-color: $navBackgroundColorActive;

          .icon-bar {
            background-color: $navBackgroundColor;
          }
        }
      }

      .navbar-brand {
        padding: 11px 15px 8px;
        height: 40px;
        text-transform: uppercase;
        font-size: 1.778em;
        color: #fff;
      }
    }

    #navbar {
      padding: 0;
    }

    .main-nav {
      margin: 10px 0 0 0;
    }
  }
}