/**
 * CSS Styles: Partial - Contact Form
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* CONTACT FORM *********************************/

.content-contact-form {
  .wpcf7 {
    .wpcf7-form {
      position: relative;
    }

    .ajax-loader {
      position: absolute;
      width: 16px;
      height: 16px;
      margin: auto!important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .wpcf7-not-valid {
      border-color: #a94442!important;
    }

    .wpcf7-recaptcha {
      margin-bottom: 10px;
    }
  }

  div {
    .wpcf7-response-output {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .wpcf7-validation-errors,
    .wpcf7-mail-sent-ng,
    .wpcf7-spam-blocked {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }

    .wpcf7-mail-sent-ok {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
  }

  span {
    .wpcf7-not-valid-tip {
      color: #a94442;
    }

    .wpcf7-list-item {
      margin-left: 0;
    }
  }

  .form-control {
    :focus {
      border-color: $primaryColor;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(72, 102, 50, 0.6);
      outline: 0 none;
    }
  }
}