/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
  width: 100%; height: 320px;
  overflow: hidden;

  /*Time for some styling*/
  margin: 50px auto 35px;

  /*
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  */

  ul {
    width: 100%;

    /*A small hack to prevent flickering on some browsers*/
    -webkit-padding-start: 0;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/

    li {
      background-color: $primaryColor;
      position: relative;
      display: block;
      width: 100%;
      float: left;

      /* border-left: 1px solid #888; */

      box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

      /*Transitions to give animation effect*/
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      /*If you hover on the images now you should be able to
      see the basic accordian*/

      &:hover {
        /*Lets apply hover effects now*/
        /*The LI hover style should override the UL hover style*/
        width: 100% !important;
      }

      img {
        display: block;
        max-width: inherit;
        position: static;
        height: 320px;
      }

      /*Image title styles*/
      .image_title {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0; bottom: 0;
        width: 100%;

        a {
          display: block;
          color: #fff;
          text-decoration: none;
          padding: 20px;
          font-size: 16px;
        }
      }
    }

    &:hover {
      li {
        /*Reduce with of un-hovered elements*/
        width: 100%;
      }
    }
  }

  &.sites-1 {
    ul {
      li{
        width: 100%;

        &:hover {
          width: 100% !important;
        }
      }

      &:hover {
        li {
          width: 100%;
        }
      }
    }
  }
  &.sites-2 {
    ul {
      li{
        width: 50%;

        &:hover {
          width: 90% !important;
        }
      }

      &:hover {
        li {
          width: 10%;
        }
      }
    }
  }
  &.sites-3 {
    ul {
      li{
        width: 33.33333333%;

        &:hover {
          width: 80% !important;
        }
      }

      &:hover {
        li {
          width: 10%;
        }
      }
    }
  }
  &.sites-4 {
    ul {
      li{
        width: 25%;

        &:hover {
          width: 70% !important;
        }
      }

      &:hover {
        li {
          width: 10%;
        }
      }
    }
  }
  &.sites-5 {
    ul {
      li{
        width: 20%;

        &:hover {
          width: 60% !important;
        }
      }

      &:hover {
        li {
          width: 10%;
        }
      }
    }
  }
  &.sites-6 {
    ul {
      li{
        width: 16.66666667%;

        &:hover {
          width: 50% !important;
        }
      }

      &:hover {
        li {
          width: 10%;
        }
      }
    }
  }
}