/**
 * CSS Styles: Partial - Top Img
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

 /********************************* TOP IMG *********************************/
.top-img-wrapper {
  margin-bottom: 15px;

  &::after {
    background: $primaryColor none repeat scroll 0 0;
    bottom: -18px;
    content: "";
    display: block;
    height: 18px;
  }

  .ti-inner {
    background: url('../img/top-img-default.jpg') no-repeat center center;
    background-size: cover;
    height: 240px;
    border-bottom: 3px solid $secondaryColor;
  }
}

.cp-ti {
  .page-header-wrapper {
    background-color: transparent;
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    top: 120px;

    .ph-inner {
      background-color: transparent;
      overflow: visible;

      .container {
        .page-header {
          background: $primaryColor none repeat scroll 0 0;
          color: $secondaryColor;
          display: inline-block;
          font-family: 'PT Sans', arial, sans-serif;
          font-size: 2.453em;
          padding: 5px 20px 10px;
        }
      }
    }
  }
}