.blog-post {
  .panel {
    border-color: $primaryColor;

    background-color: $mainContentBackgroundColor;
    color: $mainContentTextColor;

    overflow: hidden;

    -webkit-border-radius: 0;
    border-radius: 0;

    .panel-heading {
      color: $navBackgroundColor;
      background-color: $navBackgroundColorActive;
      border-color: $primaryColor;
      position: relative;
      z-index: 1;

      -webkit-border-radius: 0;
      border-radius: 0;

      .panel-title {
        font-weight: 700;

        a {
          color: $navBackgroundColor;
        }

        small {
          color: $navBackgroundColor;
          font-size: 80%;
          margin-top: 0.4%;
        }
      }
    }

    .panel-body {
      min-height: 150px;
      background-color: $mainContentBackgroundColor;
      color: $mainContentTextColor;
      position: relative;
      z-index: 1;
    }

    .post-thumbnail {
      background: no-repeat center;
      background-size: cover;
      position: relative;
      left: 15px;
      z-index: 0;

      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      .post-thumbnail {
        transform: scale(1.2);
      }
    }

    .panel-footer {
      border-color: $primaryColor;
      background-color: $mainContentBackgroundColor;
      color: $mainContentTextColor;

      -webkit-border-radius: 0;
      border-radius: 0;
    }

    &.expanded {
      &:hover {
        .post-thumbnail {
          transform: scale(1);
        }
      }
      .post-thumbnail {
        background-position: top center;
        background-size: contain;
      }
    }
  }
}

.wp-pagenavi {
  background-color: $mainContentBackgroundColor;
  color: $mainContentTextColor;
  margin-bottom: 15px;

  a,
  a:not(.btn),
  span {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $mainContentBackgroundColor;
    float: left;
  }
  a {
    &:hover,
    &.active,
    &.current,
    &:not(.btn):hover {
      border-color: $mainContentTextColor;
      color: $mainContentTextColor;
      text-decoration: none;
    }
  }
  span {
    &.current {
      border-color: $mainContentTextColor;
      color: $mainContentTextColor;
    }
  }
}