/**
 * CSS Styles: Home
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* FRONTPAGE *********************************/

.home {
  .intro {
    .intro-image {
      margin-top: 25px;
    }
    .col {
      padding: 0;
    }
  }

  .header {
    margin-bottom: 0;
  }

  /********************************* CONTENT *********************************/

  .content-wrapper {
    background-position: center 10px;
    padding-top: 25px;

    #content {
      .page-header {
        /* text-align: center; */
      }

      /********************************* SIDEBAR *********************************/

      .sidebar {
        padding-top: 0;

        .sidebar-nav {
          > div {
            width: 50%;
          }

          .sb-item {
            &.widget_nav_menu {
              // width: 40%;

              .sbi-inner {
                border: 1px solid $secondaryColor;
                padding: 25px 22%;

                ul {
                  li {
                    a {
                      color: inherit;
                    }
                  }
                }
              }
            }

            &.additional_content {
              // width: 60%;
              text-align: right;
            }
          }
        }
      }
    }
  }
}