/**
 * SCSS Styles: Content Page
 *
 * @package Doll WebSolutions
 * @subpackage Simple Theme
 * @version 3.1
 *
 * @author Doll WebSolutions <info@doll-ws.com>
 * @copyright 2018 by Doll WebSolutions
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/********************************* CONTENT *********************************/
.page,
.blog {
  .content-wrapper {
    padding-top: 10px;

    #content {
      font-size: 1.143em;
      padding-top: 15px;
      padding-bottom: 15px;

      .glyphicon.demo-icon {
        float: left;
        font-size: 2em;
        margin-right: 15px;
        margin-top: 5px;
      }

      .content-inner {
        background-color: $mainContentBackgroundColor;
        color: $mainContentTextColor;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        h1 {
          margin-top: 0;

          &.page-header {
            color: $primaryColor;
            border: 0 none;
            font-size: 1.875em;
            padding-bottom: 5px;
            line-height: 1;
            margin-top: 0;
          }
        }
        h2 {
          font-size: 1.2em;
          line-height: 1.1;
          color: $primaryColor;
        }

        p {
          font-size: 0.9em;
        }

      }

      ul {
        &:not(.list-unstyled) {
          margin: 0 0 10px 0;
          padding: 0;

          li {
            font-size: initial;
            margin-bottom: 0.5em;
          }
        }
      }

      img{
        &.alignleft,
        &.alignright,
        &.aligncenter {
          max-width: 100%;
          height: auto;
        }


        &.alignright,
        &.aligncenter {
          max-width: 100%;
          height: auto;
        }

        &.alignleft {
          float: left;
          margin-right: 10px;
        }
        &.alignright {
          float: right;
          margin-left: 10px;
        }
        &.aligncenter {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &:not(.home) {
    .content-wrapper {
      #content {
        font-size: 1.214em;
        padding: 25px 0 50px;
      }
    }
  }
}

.single {
  .content-wrapper {
    #content {
      padding: 25px 0 50px;
    }
  }
}

.well {
  color: #333;
}

/********************************* GALLERY *********************************/
.gallery {
  &.gallery-size-thumbnail {
    margin-left: -15px !important;
    margin-right: -15px !important;

    .gallery-item {
      margin: 15px 0 !important;
      padding-left: 15px;
      padding-right: 15px;

      .thumbnail {
        margin-bottom: 0;
        position: relative;

        .glyphicon {
          &.glyphicon-search {
            bottom: 15px;
            position: absolute;
            right: 15px;
            top: auto;
          }
        }
      }
    }
  }
}